{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Do your Transactions more securely than ever"
    />

    {% comment %}
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" />
    {% endcomment %}
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css"
    />
    <link
      rel="stylesheet"
      href="{% static 'paygate/css/bootstrap.min.css' %}"
    />
  </head>
  <body id="mybody">
    <header id="my header">
      <nav
        class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar"
      >
        <div class="container">
          <a class="navbar-brand logo" href="#">SafePay</a
          ><button
            data-bs-toggle="collapse"
            class="navbar-toggler"
            data-bs-target="#navcol-1"
          >
            <span class="visually-hidden">Toggle navigation</span
            ><span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'features' %}">API Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/faq.html">API Documentation</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'pay' %}"
                  >Payment Simulation</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about-us.html">About Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="page landing-page">
      <div class="top_container my_container">
        <section
          class="mytop"
          style="
            background-image: url('{% static "paygate/images/Group-13.svg" %}');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 99vh;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: left;
            position: relative;
          "
        >
          <div class="text" style="color: #000;
          font-weight: bold;
          margin-left: 20px;
          margin-top: -200px">
            <h2 style="font-size: 2.5rem;
            font-weight: 900;">
              Just do transactions, <br />
              leave Security on us
            </h2>
            <p style="font-size: 1.5rem;
            width:500px;
            font-weight: normal;">
              Accept payments from anywhere within a fraction of second without
              hampering the security
            </p>
          </div>
        </section>
      </div>
    </main>

    <footer class="page-footer dark">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <h5><a href="#">Home</a></h5>
            <!-- <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Sign up</a></li>
                <li><a href="#">Downloads</a></li>
              </ul>  -->
          </div>
          <div class="col-sm-3">
            <h5><a href="#">Features Provided</a></h5>
            <!-- <ul>
                <li><a href="#">Company Information</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Reviews</a></li>
              </ul> -->
          </div>
          <div class="col-sm-3">
            <h5><a href="#">Documentation</a></h5>
            <!-- <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Help desk</a></li>
                <li><a href="#">Forums</a></li>
              </ul> -->
          </div>
          <div class="col-sm-3">
            <h5><a href="#">Simulation</a></h5>
            <!-- <ul>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">Privacy Policy</a></li>
              </ul> -->
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <p>© 2022 Copyright Text</p>
      </div>
    </footer>
    <!-- End: Footer Dark -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script>
      (function (window) {
        function define_library() {
          var vanillaZoom = {};
          vanillaZoom.init = function (el) {
            var container = document.querySelector(el);
            if (!container) {
              console.error(
                "No container element. Please make sure you are using the right markup."
              );
              return;
            }

            var firstSmallImage = container.querySelector(".small-preview");
            var zoomedImage = container.querySelector(".zoomed-image");

            if (!zoomedImage) {
              console.error(
                "No zoomed image element. Please make sure you are using the right markup."
              );
              return;
            }

            if (!firstSmallImage) {
              console.error(
                "No preview images on page. Please make sure you are using the right markup."
              );
              return;
            } else {
              // Set the source of the zoomed image.
              zoomedImage.style.backgroundImage =
                "url(" + firstSmallImage.src + ")";
              firstSmallImage.classList.add("active");
            }

            // Change the selected image to be zoomed when clicking on the previews.
            container.addEventListener("click", function (event) {
              var elem = event.target;

              if (elem.classList.contains("small-preview")) {
                var allSmallPreviews =
                  container.querySelectorAll(".small-preview");

                allSmallPreviews.forEach(function (preview) {
                  preview.classList.remove("active");
                });

                elem.classList.add("active");

                var imageSrc = elem.src;
                zoomedImage.style.backgroundImage = "url(" + imageSrc + ")";
              }
            });

            // Zoom image on mouse enter.
            zoomedImage.addEventListener(
              "mouseenter",
              function (e) {
                this.style.backgroundSize = "250%";
              },
              false
            );

            // Show different parts of image depending on cursor position.
            zoomedImage.addEventListener(
              "mousemove",
              function (e) {
                // getBoundingClientReact gives us various information about the position of the element.
                var dimentions = this.getBoundingClientRect();

                // Calculate the position of the cursor inside the element (in pixels).
                var x = e.clientX - dimentions.left;
                var y = e.clientY - dimentions.top;

                // Calculate the position of the cursor as a percentage of the total width/height of the element.
                var xpercent = Math.round(100 / (dimentions.width / x));
                var ypercent = Math.round(100 / (dimentions.height / y));

                // Update the background position of the image.
                this.style.backgroundPosition =
                  xpercent + "% " + ypercent + "%";
              },
              false
            );

            // When leaving the container zoom out the image back to normal size.
            zoomedImage.addEventListener(
              "mouseleave",
              function (e) {
                this.style.backgroundSize = "contain";
                this.style.backgroundPosition = "left center";
              },
              false
            );
          };
          return vanillaZoom;
        }

        // Add the vanillaZoom object to global scope.
        if (typeof vanillaZoom === "undefined") {
          window.vanillaZoom = define_library();
        } else {
          console.log("Library already defined.");
        }
      })(window);
    </script>
    <script>
      if (document.getElementsByClassName("clean-gallery").length > 0) {
        baguetteBox.run(".clean-gallery", { animation: "slideIn" });
      }

      if (document.getElementsByClassName("clean-product").length > 0) {
        window.onload = function () {
          vanillaZoom.init("#product-preview");
        };
      }
    </script>
  </body>
</html>
