.slide-top{
    -webkit-animation: slide-top 3s ease-in-out infinite  both;
        animation: slide-top 3s ease-in-out infinite both;
  }

  @-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(0) translateX(0);
              transform: translateY(0) translateX(0);
    }
    25% {
      -webkit-transform: translateY(200px) translateX(0px);
              transform: translateY(200px) translateX(0px);
    }
    50% {
      -webkit-transform: translateY(100px) translateX(-100px);
        transform: translateY(100px) translateX(-100px);
    }
    75% {
      -webkit-transform: translateY(100px) translateX(200px);
        transform: translateY(100px) translateX(200px);
    }
    100% {
      -webkit-transform: translateY(0px) translateX(0px);
        transform: translateY(0px) translateX(0px);
    }
  }
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(0) translateX(0);
              transform: translateY(0) translateX(0);
    }
    25% {
      -webkit-transform: translateY(200px) translateX(0px);
              transform: translateY(200px) translateX(0px);
    }
    50% {
      -webkit-transform: translateY(100px) translateX(-100px);
        transform: translateY(100px) translateX(-100px);
    }
    75% {
      -webkit-transform: translateY(100px) translateX(200px);
        transform: translateY(100px) translateX(200px);
    }
    100% {
      -webkit-transform: translateY(0px) translateX(0px);
        transform: translateY(0px) translateX(0px);
    }
  }

  .text-focus-in {
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  }
  @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  